LAB_3_Makefile/PR_LAB3
LAB_3_Makefile/students_server_tools
LAB_3_Makefile/lab3 (2).pdf
LAB_3_Makefile/Подключение_к_серверу (2).pdf
Terminal1_9_b/

LAB_4_Programming/



Coursework/Temperature
Coursework/tresh
Coursework/pulpino_coursework.7z



Prac_FPGA/